body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.colcenter{
  float: none;
  margin: 0 auto;
}

.button{
  float: right;
}

.panel{
  position: inherit;
}

input{
  margin-bottom: 2rem;
  margin-top: 10px;
}

input[type="text"] {
  font-size: 16px;
}

.save{
  width: 10rem;
}

.modal-header{
  background-color: #333333;
}

.close{
  margin-top: 7px !important;
  color: white;
  font-size: 30px;
  opacity: 1;
}

.close:hover{
  color: aliceblue;
  margin-top: 7px;
}

.modal-title{
  color: aliceblue;
  font-size: 33px
}

.modal-footer{
  background-color: #e5e5e5
}

.lead{
  display: inline-block;
}
.lead-right{
  float: right;
  margin-top: 2rem;
}

span{
  font-weight: 500;
  font-size: 18px;
}

.form-footer{
  text-align: right;
}